h1.flashy {color:red; font-style: italic;}
h2.flashy {color:red; font-style: italic;}
h3.flashy {color:red; font-style: italic;}
li.best {color: blueviolet;font-family: cursive; font-weight: 500;flex: content;}
body {background-color: darksalmon;}
h2.best {color: blueviolet;font-family: cursive; font-weight: 500;flex: content;}